body{
  overflow: hidden;
  height: 100%;
  margin: 0;
  padding: 0;
  image-rendering: pixelated;
  font-family: 'Roboto Mono' monospace;
  font-size: 11px;
  background: #101010;
  opacity: 1;
}
body{
/* 	opacity: 1; */
	transition: opacity 2s;
}
#ui{
  image-rendering: pixelated;
  z-index: 99;
  cursor: hidden;
  position: fixed;
}

#renderer{
  z-index: 0;
  position: fixed;
}

#promo{
	position: fixed;
	top: 104px;
	left: 16px;
	right: 16px;
	bottom: 188px;
	z-index: 200;
	background-repeat: repeat;
	background-size: contain;
	background-position: center;
	background-image: url(../promo/ginko_promo.gif);
	background-color: #fff;
}

/*
#101010, // 0
#ffffff, // 1
#c1c1c1, // 2
#2c2c2c, // 3
#50ffae, // 4
#ff7272, // 5
#2486ff, // 6
#ff295a  // 7
#344234, // 8
#219640  // 9
#6d6047  // 10

*/
